.explore {
  padding-top: 50px;
  &__sub-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }
  &__info {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-bottom: 12px;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    padding-bottom: 48px;
  }
  &__sub-info {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding-bottom: 8px;
  }
  &__sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  &__button {
    width: 163px;
    height: 48px;
    border-radius: 90px;
    border: 2px;
    margin: 48px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 5px;
    background: transparent;
    border: 1px solid #e6e8ec;
  }
  &__next {
    position: relative;
    top: 4.5px;
  }
}
@include mobile() {
  .explore {
    &__wrapper{
      padding: 0 100px;
    }
    &__sub-wrapper {
      grid-template-columns: 1fr;
    }
    &__image1 {
      display: none;
    }
    &__image {
      img {
        text-align: center;
        width: 30%;
      }
    }
    
  }
}
