.footer {
  padding: 68px 0 200px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    line-height: 50px;
    font-weight: 800;
    color: $BG-COLOR;
  }
  &__input {
    padding-top: 16px;
    width: 255px;
    height: 48px;
    padding: 8px 8px 8px 16px;
    border-radius: 90px;
    border: 2px solid $BG-COLOR;
    caret-color: $BG-COLOR;
    outline: none;
  }
  &__info {
    padding-bottom: 16px;
  }
  ::placeholder {
    padding: 14px 58px 14px 16px;
    width: 181px;
    height: 20px;
    color: $BG-COLOR;
  }
  &__right {
    img {
      position: relative;
      top: 10px;
      left: -49px;
    }
  }
  &__hr {
    width: 100%;
    color: $BG-COLOR;
    margin: 48px 0 24px 0;
  }
}
@include mobile() {
  .footer {
    padding: 0 100px;
    &__wrapper {
     
        width: 100%;
      flex-direction: column;
    }
    &__list {
      display: flex;
      gap: 62px;
      text-align: center;
    }
  }
}
